<div>

<md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>Analysis</span>
      </h3>
    </div> 
</md-toolbar>

<form>

<md-button href="/report/technology" class="md-primary">Technology analysis</md-button>
<br>
<md-button href="/report/database" class="md-primary">Database analysis</md-button>
<br>
<md-button href="/report/seniority" class="md-primary">Seniority analysis</md-button>
<br>
<md-button href="/report/cv?idEmployee=2" class="md-primary">CV generator</md-button>

</form>

</div>