<!-- SOCIAL SKILLS AND COMPETENCES -->

<div id="skills" class="form-group sliderdemoBasicUsage"">
	<h3>Social and competences</h3>
	
	<div layout="row">
		<span flex="20" class="md-body-1">Communication: </span>
        <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.communication"  step="1" min="1" max="5" aria-label="rating"></md-slider>
	</div>
    
    <div layout="row">
		<span flex="20" class="md-body-1">Fast learning: </span>
		<md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.fastLearning"  step="1" min="1" max="5" aria-label="rating"></md-slider>
    </div>
    
    <div layout="row">
		<span flex="20" class="md-body-1">Open to change: </span> 
        <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.openToChange"  step="1" min="1" max="5" aria-label="rating"></md-slider>
	</div>

   	<div layout="row">
		<span flex="20" class="md-body-1">Team player: </span>
        <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.teamPlayer"  step="1" min="1" max="5" aria-label="rating"></md-slider>
	</div>
  
    <div layout="row">
		<span flex="20" class="md-body-1">Proactive communication:</span>
        <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.proactiveCommunication"  step="1" min="1" max="5" aria-label="rating"></md-slider>
	</div>
 
    <div layout="row">
 	     <span flex="20" class="md-body-1">Interpersonal skills: </span>
         <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.interpersonalSkills"  step="1" min="1" max="5" aria-label="rating"></md-slider>
    </div>   

	<div layout="row">
	     <span flex="20" class="md-body-1">Knowledge sharing: </span>
	     <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.knowledgeSharing"  step="1" min="1" max="5" aria-label="rating"></md-slider>
	</div>
	
    <div layout="row">
         <span flex="20" class="md-body-1">Judgement: </span>
	     <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.judgement"  step="1" min="1" max="5" aria-label="rating"></md-slider>
    </div>
	
    <div layout="row">
         <span flex="20" class="md-body-1">Decision making: </span>
	     <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.decisionMaking"  step="1" min="1" max="5" aria-label="rating"></md-slider>
    </div>
   
    <div layout="row">
  	     <span flex="20" class="md-body-1">Influencing: </span>
         <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.influencing"  step="1" min="1" max="5" aria-label="rating"></md-slider>
    </div>
   
    <div layout="row">
  	     <span flex="20" class="md-body-1">Leadership: </span>
         <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.leadership"  step="1" min="1" max="5" aria-label="rating"></md-slider>
    </div>
     
    <div layout="row">
  	     <span flex="20" class="md-body-1">Coaching: </span>
         <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.coaching"  step="1" min="1" max="5" aria-label="rating"></md-slider>
   </div>

   <div layout="row">
  	     <span flex="20" class="md-body-1">Organizational skills: </span>
         <md-slider offset=5 flex class="md-primary" md-discrete="" ng-model="currentEmployee.organizationalSkills"  step="1" min="1" max="5" aria-label="rating"></md-slider>
   </div>
	
</div>