<md-dialog aria-label="Employee" flex="100" ng-init="init()">
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>{{currentEmployee.nameEmployee}}</h2>
	</div>
	</md-toolbar>

	<md-dialog-content>
	   <md-tabs md-dynamic-height md-border-bottom>
	       <md-tab label="Basic info">
		      <md-content class="md-padding" layout="row">
			     <div data-ng-include data-src="'app/partials/employeeBasicInfoTab.html'" flex="50"></div>
			     <div flex offset = "15">
					<div flow-init="{target: '/{{currentEmployee.username}}/image'  , testChunks:false, singleFile: 'true', uploadMethod: 'post', method: 'multipart', fileParameterName:'picture' }"
					     flow-files-submitted="$flow.upload()"
					     flow-file-success="imageUploaded($message, $file.size)"
					     flow-file-added = "!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()] && $file.size < 1024000">
					    <div class="thumbnail" ng-show="imageSwitch">
					      <img src= {{currentEmployee.image}} alt = "defaultImage" onError="this.onerror=null;this.src='images/defaultImage.png';" height = "250" width = "250"/>
					    </div>
					    <input type="file" flow-btn />
					</div>
			     </div>
		      </md-content>
		   </md-tab>
	
	       <md-tab ng-if="!newEmployee" label="Contact info">
	           <md-content class="md-padding" layout="row">
			     <div data-ng-include data-src="'app/partials/employeeContactInfoTab.html'" flex="50"></div>
			   </md-content>
		   </md-tab> 	
		   <md-tab ng-if="!newEmployee" label="Employment info">
	 	     <md-content class="md-padding">
			     <div data-ng-include data-src="'app/partials/employeeEmploymentInfoTab.html'"></div>
			 </md-content>
		   </md-tab> 	
		   <md-tab ng-if="!newEmployee" label="Work experience">
	 	     <md-content class="md-padding">
			     <div data-ng-include data-src="'app/partials/employeeWorkExperienceTab.html'" flex="50"></div>
			 </md-content>
		   </md-tab> 	
		   <md-tab ng-if="!newEmployee" label="Personal Development">
	 	     <md-content class="md-padding" layout="row">
			     <div data-ng-include data-src="'app/partials/employeeDevelopmentTab.html'" flex="50"></div>
			 </md-content>
		   </md-tab>	
		   <md-tab ng-if="!newEmployee" label="Social skills and competences">
             <md-content class="md-padding" layout="row">
			     <div data-ng-include
					data-src="'app/partials/employeeSkillsTab.html'" flex="50"></div>
			 </md-content>
		   </md-tab>	
	   </md-tabs>   
    </md-dialog-content>
    <md-divider></md-divider>    
	<div class="md-actions" layout="row">
		<span flex></span>
		<md-button ng-hide="newEmployee" ng-click="generateCV()" class="md-primary">Generate CV</md-button>
		<md-button ng-hide="newEmployee" ng-click="saveEmployee()" class="md-primary">Update</md-button>
		<md-button ng-show="newEmployee" ng-click="createEmployee()" class="md-primary">Create</md-button>
		<md-button ng-click="confirmExit($event)" class="md-primary">Exit</md-button>
		<md-button ng-hide="newEmployee" ng-click="deleteEmployee(currentEmployee)" class="md-primary md-raised">Delete permenantly</md-button>
	</div>
</form>
</md-dialog>