<div>
	<h3>Work experience</h3>
	<form>
			<md-content layout-padding layout="column" layout-sm="column">
			<md-input-container md-no-float="true"> <label>Adress:</label>
			<input type="text" ng-model="currEmp.address"> </md-input-container> <md-input-container>
			<label>Phone number:</label>
			<input type="text" ng-model="currEmp.phoneNumber"> </md-input-container> <md-input-container>
			<label>Personal email:</label>
			<input type="text" ng-model="currEmp.email"> </md-input-container> <md-input-container>
			<label>Emergency phone number:</label>
			<input type="text" ng-model="currEmp.emergencyPhoneNumber">
			</md-input-container> <md-input-container> <label>Place of
				birth:</label>
			<input type="text" ng-model="currEmp.placeOfBirth"> </md-input-container> </md-content>
		</form>

</div>