<!-- Personal DEVELOPMENT -->
	<div id="develop" class="form-group">
		<h3>Personal development</h3>
		<form>
			<md-content layout-padding layout="column" layout-sm="column">
			<md-input-container md-no-float="true"> <label>Licences
				and certificates:</label>
			<input type="text" ng-model="currEmp.licencesCertificates"> </md-input-container>
			<md-input-container> <label>Education:</label>
			<input type="text"> </md-input-container> <md-input-container>
			<label>Foreign languages:</label>
			<input type="text"> </md-input-container> <md-input-container>
			<label>Awards:</label>
			<input type="text" ng-model="currEmp.awards"> </md-input-container> </md-content>
		</form>

	</div>