<md-dialog aria-label="Employee" flex="100">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Employee</h2>
      <span flex></span>

    </div>
  </md-toolbar>
  <md-dialog-content>
    <div>
    <!-- Dodaj EMPLOYEEE -->
      <h2>{{currEmp.nameEmployee}}</h2>
    </div>
    <div class = "md-actions" layout = "row"><md-button ng-click = "showForm('basic')" class=" md-raised md-primary">Basic info</md-button>
    <md-button ng-click = "showForm(contact)" class=" md-raised md-primary">Contact info</md-button>
    <md-button ng-click = "" class=" md-raised md-primary">Employment info</md-button>
    <md-button ng-click = "" class=" md-raised md-primary">Work experience</md-button>
    <md-button ng-click = "" class=" md-raised md-primary">Personal development </md-button>
    <md-button ng-click = "" class=" md-raised md-primary">Social skills and competences</md-button>
    
    </div>
    <span flex></span>
    <div ng-show ="activeForm == 'basic'" class = "form-group">
	<h4>Basic information</h4>
	
    <form >
    <md-content layout-padding layout="row" layout-sm="column">
    	<md-input-container md-no-float = "true">
    	<label>Name:</label><input type = "text" ng-model = "currEmp.nameEmployee">
    	</md-input-container>
    	<md-input-container>
    	<label>Gender:</label><input type = "text" ng-model = "currEmp.gender">
    	</md-input-container>
    	<md-input-container>
    	<label>Date of birth:</label><input type = "date" ng-model ="d" >
 		</md-input-container>	
 	</md-content>
    </form>
    <!-- "currEmp.dateOfBirth | date: 'yyyy-MM-dd'"
    {{currEmp.nameEmployee}}
     -->
	
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="answer('not useful')" class="md-primary">
     Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary">
      Useful
    </md-button>
  </div>
  </form>
</md-dialog>