<div layout = "row">
<div flex = "85">
	<h3>Work experience</h3>
	<md-list>
		<md-list-item class="md-3-line" ng-repeat="key in objectKeys(projects)" ng-init="value = projects[key]">
		   <div class="md-list-item-text" ng-click="showInfo(value, $index)">
		   <md-input-container>
		   <label> Project name:</label>
		    <input type = "text" ng-model = "value.nameProject" ng-readonly = "1==1"/>
		    </md-input-container>
		    </div>
		   
		</md-list-item>
	</md-list>

</div>
<div flex = "100">
	<form>
		<div ng-show="firstTimeClicked">
	        <md-input-container><label>Project name:</label>
            <input type="text" ng-model="infoToShow.projectName"> </md-input-container> 
       		 <md-input-container><label>Project duration in weeks:</label>
            <input type="text" ng-model="infoToShow.projectDuration"> </md-input-container> </md-content>
	        <md-input-container>
	        	<label>Job responsibilities:</label>
	            <textarea  ng-model="infoToShow.jobResponsibilities"></textarea> 
	        </md-input-container>
	        <md-input-container>
	        	<label>Project experience:</label>
	            <textarea  ng-model="infoToShow.projectExperiance"></textarea>
	        </md-input-container>
	        <p>Seniority</p>
             <md-radio-group ng-model="infoToShow.seniority">
                <md-radio-button style="display: inline" value="Junior"> Junior </md-radio-button>
                <md-radio-button style="display: inline" value="Medior"> Medior </md-radio-button>
                <md-radio-button style="display: inline" value="Senior"> Senior </md-radio-button>
             </md-radio-group>
        </div>
     </form>   
</div>
</div>
