<div>
	<h3>Work experience</h3>
	<div ng-repeat="proj in projects">
	   <p ng-click="showInfo(proj, $index)">Naziv projekta: {{ proj.nameProject }}, trajanje projekta u nedeljama: {{ proj.durationOfProject }}</p>
	</div>
	<form></md-content>
        <!-- <md-input-container><label>Project name:</label>
            <input type="text" ng-model="infoToShow.projectName"> </md-input-container> 
        <md-input-container><label>Project duration in weeks:</label>
            <input type="text" ng-model="infoToShow.projectDuration"> </md-input-container> </md-content> -->
        <p>Project name: {{ infoToShow.projectName }} </p>
        <p>Project duration in weeks: {{ infoToShow.projectDuration }} </p>
        <md-input-container><label>Job responsibilities:</label>
            <input type="text" ng-model="infoToShow.jobResponsibilities"> </md-input-container> </md-content>
        <md-input-container><label>Project excperiance:</label>
            <input type="text" ng-model="infoToShow.projectExperiance"> </md-input-container> </md-content>
	</form>
</div>