<!-- EMPLOYMENT INFO -->
	<div id="employment" class="form-group">
		<h3>Employment information</h3>
		<form>

			<md-content layout-padding layout="column" layout-sm="column">
			<md-input-container>
				<label>Username:</label>
				<input type="text" ng-model="currEmp.username"> 
			</md-input-container>
			 <md-input-container>
				<label>Start day from employment booklet:</label>
				<input type="date" ng-model="startDateFromBooklet">
			  </md-input-container>
			<md-input-container>
				<label>Id card number:</label>
				<input type="text" ng-model="currEmp.idCardNumber"> 
			</md-input-container>
			 <md-input-container>
				<label>Passport number:</label>
				<input type="text" ng-model="currEmp.passportNumber">
			</md-input-container>
			 </md-content>
			</form>
		<h2>ALL FIRMS:</h2>
		
		<md-button class = "md-primary" ng-click = "addNewEmploymentHistory()">Add new employment history</md-button>
		<div id = "newAdd" ng-show = "addNewEmpInfo == 'true'">
			<form>
			<md-content layout-padding layout="column" layout-sm="column">
				<md-input-container>
						<label>Company name:</label>
						<input type = text ng-model = "newEmpInfo.companyName">	
					</md-input-container>
					<md-input-container md-no-float="true"> 
						<label>Start date:</label>
						<input type="date" ng-model = "newEmpInfo.startDate"> 
					</md-input-container>
					 <md-input-container>
						<label>End date:</label>
						<input type="date" ng-model = "newEmpInfo.endDate"> 
					</md-input-container> 
				</md-content>
			</form>
	
			 
			<md-button class = "md-primary" ng-click = "saveNewEmploymentHistory()">Save new employment history</md-button>
			<md-button class = "md-primary" ng-click = "addNewEmpInfo = 'false'">Cancel</md-button>
	    </div>
	    
		<md-divider></md-divider>
		<div ng-repeat = "empInfo in employmentInfos">
		<form id = "ngEMPform">
			<md-content layout-padding layout="column" layout-sm="column">
				<md-input-container>
					<label>Company name:</label>
					<input type = text ng-model = "empInfo.companyName">	
				</md-input-container>
				<md-input-container md-no-float="true"> 
					<label>Start date:</label>
					<input type="date" ng-model = "dateDictionary[empInfo.companyName].startDate"> 
				</md-input-container>
				 <md-input-container>
					<label>End date:</label>
					<input type="date" ng-model = "dateDictionary[empInfo.companyName].endDate"> 
				</md-input-container> 
			</md-content>
		</form>
		<h5>Position</h5>
			 <md-chips ng-model="EItagClouds[empInfo.companyName].tagClouds" md-autocomplete-snap="" md-require-match="" readonly = "false">
				      <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText"
				       md-items='item in querySearch(searchText, "Position")' md-item-text="item.nameTagCloud" 
				       placeholder="Search for a position">
				       
				        <span md-highlight-text="searchText">{{item.nameTagCloud}} :: {{item.tipTagCloud}}</span>
				         <md-not-found >
				        	<span ng-click = "addNewTagCloudEI(empInfo.companyName, searchText, 'Position')">
				        	Click here to add new position ({{searchText}})</span>
				        </md-not-found>
				      </md-autocomplete>
				
				      <md-chip-template>
				        <span>
				          <strong>{{$chip.nameTagCloud}}</strong>
				          <em>({{$chip.tipTagCloud}})</em>
				        </span>
				      </md-chip-template>
			  </md-chips>
		<md-divider ng-if="!$last"></md-divider>

		