<md-dialog aria-label="Employee" flex="100">
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Project</h2>
		<span data-flex></span>

	</div>
	</md-toolbar>
	<md-dialog-content ng-init="init()">
		<div>{{ selectedProject.nameProject }}</div>
		<div>
			<label>Trajanje projekta (u nedeljama): </label><input type="text" value="{{ selectedProject.durationOfProject }}"/><br/>	
			<label>Tehonologije koje su korištne na projektu:</label><br/>
			<div ng-repeat="technolgy in selectedProject.tagClouds">
				<label>{{ technology.nameTagCloud }}</label><br/>
			</div><br/>
            <label>Zaposleni na projektu:</label><br/><br/>
			<div ng-repeat="emp in employees">
                <label> {{ emp.nameEmployee }}</label>
                <label> {{ emp.email }}</label><br/>
				<label> Uloga zaposlenog:</label>
				<label> {{ emp.resp }}</label><br/>
				<label> Iskustvo na projektu:</label>
				<label> {{ emp.prExp }}</label><br/><br/>
			</div>
		</div>
	</md-dialog-content>
  	<div class="md-actions" layout="row">
	    <span flex></span>
	    <md-button ng-click="answer('useful')" class="md-primary">
	      EXIT
	    </md-button>
    </div>
</form>
</md-dialog>