<md-toolbar>
   <div class="md-toolbar-tools">
     <h3>
       <span>Projects</span>
     </h3>
   </div>
</md-toolbar>
<md-content>
   <md-list>  
       <md-list-item class="md-3-line">
           <md-input-container>
               <label>Filter projects:</label>
               <input type="text" ng-model="filterForProjects">
           </md-input-container>
       </md-list-item>
       <md-list-item class="md-3-line" ng-click="showProject($event, newProject)">New entry</md-list-item>
       <md-list-item class="md-3-line" ng-click="showProject($event, pr)" ng-repeat="pr in projects | filter:filterForProjects">
           <div class="md-list-item-text">
             <h3>{{ pr.nameProject }}</h3>
           </div>
       </md-list-item>
       <md-divider></md-divider>
   </md-list>
</md-content>