<md-dialog aria-label="Employee" flex="100">
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2 ng-show="!newProject">{{ selectedProject.nameProject }}</h2>
		<h2 ng-show="newProject">Create new project</h2>
		<span data-flex></span>

	</div>
	</md-toolbar>
	<md-dialog-content ng-init="init()" layout="row">
	    <div flex="35">
		    <md-input-container md-no-float="true">
	            <label>Project name: </label><input type="text" ng-model="selectedProject.nameProject" ng-readonly="!updateable"/>
		    </md-input-container>
            <md-input-container md-no-float = "true" layout="column" layout-align="center start">
                <label>Project start date: </label><input type="date" ng-model="selectedProject.startDate" ng-readonly="!updateable"/><br/>   
            </md-input-container>
	        <md-input-container md-no-float = "true" layout="column" layout-align="center start">
	            <label>Duration of project (in weeks): </label><input type="number" ng-model="selectedProject.durationOfProject" ng-readonly="!updateable"/><br/>   
	        </md-input-container>
	        <div>
	            <label>Industries on the project: </label>
	            <md-chips ng-model="industries" ng-click="updateAllIndustries()">
					<md-autocomplete md-selected-item="selectedItem" md-search-text="searchText"
					       md-items='item in querySearch(searchText, "Industry")'
					       md-item-text="item.nameTagCloud" placeholder="Search for Industry" 
					       md-no-cache="true" md-selected-item-change="updateAllIndustries()">                       
					    <span md-highlight-text="searchText">{{item.nameTagCloud}} :: {{item.tipTagCloud}}</span>
					    <md-not-found >
					        <span ng-click = "addNewTagCloud(searchText, 'Industry')">
					        Click here to add a new Industry ({{searchText}})</span>
					    </md-not-found>
					</md-autocomplete>
					<md-chip-template>
						<strong>{{$chip.nameTagCloud}}</strong>
						<em>(Industry)</em>
				    </md-chip-template>
			    </md-chips>
				<label>Platforms on the project: </label>             
				<md-chips ng-model="platforms" md-autocomplete-snap md-require-match ng-click="updateAllPlatforms()">
				    <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText"
				       md-items='item in querySearch(searchText, "Platform")' md-item-text="item.nameTagCloud" 
				       placeholder="Search for Platform" md-no-cache="true" md-selected-item-change="updateAllPlatforms()">                       
				        <span md-highlight-text="searchText">{{item.nameTagCloud}} :: {{item.tipTagCloud}}</span>
				        <md-not-found >
				            <span ng-click = "addNewTagCloud(searchText, 'Platform')">
				            Click here to add a new Platform ({{searchText}})</span>
				        </md-not-found>
				    </md-autocomplete>
				    <md-chip-template>
				        <strong>{{$chip.nameTagCloud}}</strong>
				        <em>(Platform)</em>
				    </md-chip-template>
				</md-chips>
				<label>OS' on the project: </label>            
				<md-chips ng-model="oss" md-autocomplete-snap md-require-match ng-click="updateAllOss()">
				    <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText"
				       md-items='item in querySearch(searchText, "OS")' md-item-text="item.nameTagCloud" 
				       placeholder="Search for OS" md-no-cache="true" md-selected-item-change="updateAllOss()">                       
				        <span md-highlight-text="searchText">{{item.nameTagCloud}} :: {{item.tipTagCloud}}</span>
				        <md-not-found >
				            <span ng-click = "addNewTagCloud(searchText, 'OS')">
				            Click here to add a new OS ({{searchText}})</span>
				        </md-not-found>
				    </md-autocomplete>
				    <md-chip-template>
				        <strong>{{$chip.nameTagCloud}}</strong>
				        <em>(OS)</em>
				    </md-chip-template>
				</md-chips>
	        </div>
	        <div flex="100">
	            <md-select ng-show="updateable && !newProject" placeholder="Employees" ng-model="otherEmps" ng-change="setSelectedEmployee(otherEmps)">
	                <md-option ng-repeat="e in otherEmployees" value="{{ $index }}">{{ e.nameEmployee }}</md-option>
	            </md-select>
	            <md-input-container ng-show="updateable && !newProject" md-no-float = "true">
	                <label> Job responsibilities of employee:</label>
	                <input type="text" ng-model="jobResponsibilities"/><br/> 
	            </md-input-container>
	            <md-input-container ng-show="updateable && !newProject" md-no-float = "true">
	                <label> Experience of employee on the project:</label>
	                <input type="text" ng-model="projectExp" /><br/><br/> 
	            </md-input-container>
	            <md-button ng-show="updateable && !newProject" ng-click="addEmployeeToProject(otherEmps)" class="md-primary">Add employee to project</md-button>
	        </div>
        </div>
        <div offset="5" flex="40" layout="column">          
            <label ng-show="!newProject" style="font-size: 20px">Employees on the project:</label><br/><br/>
            <md-list>
				<md-list-item class="md-2-line" ng-repeat="emp in employees" ng-click="employeeClicked(emp, $index)">
					<div class="md-list-item-text">
						<h3>{{ emp.nameEmployee }}</h3>
						<p>{{ emp.email }}</p>
					</div>
					<md-button ng-click="removeEmployeeFromProject(emp)" class="md-primary" ng-show="updateable">Remove from project</md-button>
				</md-list-item>
			</md-list>
            <div ng-show="firstTimeClicked">
	            <md-input-container>
	                <label>Job responsibilities:</label>
	                <textarea  ng-model="clickedEmployee.jobResponsibilities"></textarea> 
	            </md-input-container>
	            <md-input-container>
	                <label>Project experience:</label>
	                <textarea  ng-model="clickedEmployee.projectExperiance"></textarea>
	            </md-input-container>
	            <md-input-container>
	                <label>Duration of employee work on project(weeks):</label>
	                <textarea  ng-model="clickedEmployee.durationOnProject"></textarea>
	            </md-input-container>
	            <p>Seniority</p>
	            <md-radio-group ng-model="clickedEmployee.seniority">
	               <md-radio-button style="display: inline" value="Junior"> Junior </md-radio-button>
	               <md-radio-button style="display: inline" value="Medior"> Medior </md-radio-button>
	               <md-radio-button style="display: inline" value="Senior"> Senior </md-radio-button>
	            </md-radio-group>
		        <p>Job roles</p>
                <md-chips ng-model="infoToShow.jobRoleTags" md-autocomplete-snap md-require-match readonly = "false">
                    <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText"
                     md-items='item in querySearch(searchText, "JobRole")' md-item-text="item.nameTagCloud" 
                     placeholder="Search for a job role">
                     
                        <span md-highlight-text="searchText">{{item.nameTagCloud}} :: {{item.tipTagCloud}}</span>
                        <md-not-found>
                           <span ng-click = "addNewTagCloudEI(empInfo.companyName, searchText, 'JobRole')">
                           Click here to add new job role ({{searchText}})</span>
                        </md-not-found>
                    </md-autocomplete>
                
                    <md-chip-template>
                        <span>
                            <strong>{{$chip.nameTagCloud}}</strong>
                            <em>({{$chip.tipTagCloud}})</em>
                        </span>
                    </md-chip-template>
                </md-chips>   
	            <p>Technologies</p>
	            <md-chips ng-model="infoToShow.technologieTags" md-autocomplete-snap md-require-match readonly = "false">
	                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText"
	                 md-items='item in querySearch(searchText, "Technologie")' md-item-text="item.nameTagCloud" 
	                 placeholder="Search for a techonology">
	                 
	                  <span md-highlight-text="searchText">{{item.nameTagCloud}} :: {{item.tipTagCloud}}</span>
	                  <md-not-found>
	                     <span ng-click = "addNewTagCloudEI(empInfo.companyName, searchText, 'Technologie')">
	                     Click here to add new technology ({{searchText}})</span>
	                  </md-not-found>
	                </md-autocomplete>
	               
	                <md-chip-template>
	                    <span>
	                        <strong>{{$chip.nameTagCloud}}</strong>
	                        <em>({{$chip.tipTagCloud}})</em>
	                    </span>
	                </md-chip-template>
	             </md-chips>   
	             <p>Databases</p>
	             <md-chips ng-model="infoToShow.databaseTags" md-autocomplete-snap="" md-require-match="" readonly = "false">
	                 <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText"
	                  md-items='item in querySearch(searchText, "Database")' md-item-text="item.nameTagCloud" 
	                  placeholder="Search for a database">
	                  
	                     <span md-highlight-text="searchText">{{item.nameTagCloud}} :: {{item.tipTagCloud}}</span>
	                     <md-not-found>
	                         <span ng-click = "addNewTagCloudEI(empInfo.companyName, searchText, 'Database')">
	                         Click here to add new database ({{searchText}})</span>
	                     </md-not-found>
	                 </md-autocomplete>
	                
	                 <md-chip-template>
	                     <span>
	                         <strong>{{$chip.nameTagCloud}}</strong>
	                         <em>({{$chip.tipTagCloud}})</em>
	                     </span>
	                 </md-chip-template>
	              </md-chips>   
	              <p>IDEs</p>
	              <md-chips ng-model="infoToShow.ideTags" md-autocomplete-snap="" md-require-match="" readonly = "false">
	                  <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText"
	                   md-items='item in querySearch(searchText, "IDE")' md-item-text="item.nameTagCloud" 
	                   placeholder="Search for a database">
	                   
	                  <span md-highlight-text="searchText">{{item.nameTagCloud}} :: {{item.tipTagCloud}}</span>
	                      <md-not-found >
	                         <span ng-click = "addNewTagCloudEI(empInfo.companyName, searchText, 'IDE')">
	                         Click here to add new ide ({{searchText}})</span>
	                  </md-not-found>
	                  </md-autocomplete>
	                 
	                  <md-chip-template>
	                      <span>
	                          <strong>{{$chip.nameTagCloud}}</strong>
	                          <em>({{$chip.tipTagCloud}})</em>
	                      </span>
	                  </md-chip-template>
	               </md-chips>
              </div>                  
        </div>
	</md-dialog-content>
	<md-divider></md-divider>
  	<div class="md-actions" layout="row">
	    <span flex></span>
	    <md-checkbox ng-show="!newProject" ng-model="updateable">Updateable</md-checkbox>
	    <md-button ng-show="updateable && !newProject" ng-click="updateProject()" class="md-primary">Update</md-button>
	    <md-button ng-show="newProject" ng-click="createProject()" class="md-primary">Create</md-button>
	    <md-button ng-click="answer('useful')" class="md-primary">EXIT</md-button>
	    <md-button ng-click="deleteProject()" class="md-primary md-raised">DELETE FOREVER</md-button>
    </div>
</form>
</md-dialog>