<md-dialog aria-label="Employee" flex="100">
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Project</h2>
		<span flex></span>

	</div>
	</md-toolbar>
	<md-dialog-content>
		<div>{{ selectedProject.nameProject }}</div>
		<div>
			<label>Trajanje projekta (u nedeljama): </label><input type="text" value="{{ selectedProject.durationOfProject }}"/><br/>	
			<label>Tehonologije koje su korištne na projektu:</label><br/>
			<div ng-repeat="technolgy in selectedProject.tagClouds">
				<label>{{ technology.nameTagCloud }}</label><br/>
			</div>
			<div ng-repeat="projectInfo in selectedProject.projectInfo">
				<label>Zaposleni na projektu:</label><br/>
				<label>projectInfo.employee.nameEmployee</label><br/>
				<label>projectInfo.employee.email</label><br/>
				<label>Uloga zaposlenog:</label><br/>
				<label>projectInfo.jobResponsibilities</label><br/>
				<label>Iskustvo na projektu ???</label><br/>
				<label>projectInfo.projectExp</label><br/>
			</div>
		</div>
	</md-dialog-content>
  	<div class="md-actions" layout="row">
	    <span flex></span>
	    <md-button ng-click="answer('not useful')" class="md-primary">
	     Not Useful
	    </md-button>
	    <md-button ng-click="answer('useful')" class="md-primary">
	      Useful
	    </md-button>
    </div>
</form>
</md-dialog>