<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th><h3>Projekat</h3></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="pr in projects">
			<td ng-click="showProject($event, pr)">{{ pr.nameProject }}</td>
			<td><md-button class="md-primary md-raised"
					ng-click="deleteProject(pr)" flex flex-md="100"> Obrisi
				projekat </md-button></td>
		</tr>
	</tbody>
</table>


<md-button class="md-primary md-raised"
	ng-click="updateProject(projects[0])" flex flex-md="100">
Update </md-button>
