<md-dialog aria-label="Employee" flex="100">
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Project</h2>
		<span data-flex></span>

	</div>
	</md-toolbar>
	<md-dialog-content ng-init="init()">
	    <md-input-container md-no-float="true">
            <label>Project name: </label><input type="text" ng-model="selectedProject.nameProject" ng-disabled="!updateable"/>
	    </md-input-container>
		<div>	
	        <md-input-container md-no-float = "true">
	           <label>Duration of project (in weeks): </label><input type="number" ng-model="selectedProject.durationOfProject" ng-disabled="!updateable"/><br/>   
	        </md-input-container>
	        <md-input-container md-no-float="true">
                <div ng-repeat="technolgy in selectedProject.tagClouds">
                    <label>{{ technology.nameTagCloud }}</label>
                </div>
            </md-input-container>
            <label style="font-size: 20px">Employees on the project:</label><br/><br/>
            <div ng-repeat="key in objectKeys(employees)" ng-init="value = employees[key]">
	            <div>
		            <label> {{ value.nameEmployee }}</label>
		            <label> {{ value.email }}</label>
	            </div>
	            <br/>
	            <div>
		            <md-input-container md-no-float = "true">
			            <label> Role of employee:</label>
			            <input type="text" ng-model="projInfos[$index].jobResponsibilities" ng-disabled="!updateable || newProject"/><br/> 
		            </md-input-container>
	            </div>
	            <div>
		            <md-input-container md-no-float = "true">
			            <label> Experience of employee on the project:</label>
			            <input type="text" ng-model="projInfos[$index].projectExp" ng-disabled="!updateable || newProject"/><br/><br/> 
	                </md-input-container>
	            </div>
            </div>
            <div>
               <md-select ng-show="updateable" placeholder="Zaposleni" ng-model="otherEmps" ng-change="setSelectedEmployee(otherEmps)">
                   <md-option ng-repeat="key in objectKeys(otherEmployees)" ng-init="value = otherEmployees[key]" ">{{ value.nameEmployee }}</md-option>
               </md-select>
               <div>
                    <md-input-container ng-show="updateable || newProject" md-no-float = "true">
                        <label> Job responsibilities of employee:</label>
                        <input type="text" ng-model="jobResponsibilities"/><br/> 
                    </md-input-container>
                </div>
                <div>
                    <md-input-container ng-show="updateable || newProject" md-no-float = "true">
                        <label> Experience of employee on the project:</label>
                        <input type="text" ng-model="projectExp" /><br/><br/> 
                    </md-input-container>
                </div>
                <md-button ng-show="updateable" ng-click="addEmployeeToProject(otherEmps)" class="md-primary">Add employee to project</md-button>
            </div>
                       
		</div>
	</md-dialog-content>
  	<div class="md-actions" layout="row">
	    <span flex></span>
	    <md-checkbox ng-show="!newProject" ng-model="updateable">Updateable</md-checkbox>
	    <md-button ng-show="updateable && !newProject" ng-click="updateProject()" class="md-primary">Update</md-button>
	    <md-button ng-show="newProject" ng-click="createProject()" class="md-primary">Create</md-button>
	    <md-button ng-click="answer('useful')" class="md-primary">
	      EXIT
	    </md-button>
	    <md-button ng-click="deleteProject()" class="md-primary">DELETE FOREVER</md-button>
    </div>
</form>
</md-dialog>