<md-dialog aria-label="Employee" flex="100" ng-init="init()">
<form>
    <md-toolbar>
    <div class="md-toolbar-tools">
        <h2>{{currEmp.nameEmployee}}</h2>
    </div>
    </md-toolbar>

    <md-dialog-content>
       <md-tabs md-dynamic-height md-border-bottom>
           <md-tab ng-if="role=='OFF'" label="Basic info">
              <md-content class="md-padding" layout="row">
                  <div id = "basic" class = "form-group">
				    <h3>Basic information</h3>
				    <form>
				    <md-content layout-padding layout="column" layout-sm="column" layout-align="center start">
				        <md-input-container md-no-float = "true">
				           <label>Name:</label><input type = "text" ng-model = "currEmp.nameEmployee"/>
				        </md-input-container>
				        <md-input-container flex="20">
				            <md-select placeholder = "Gender" ng-model = "currEmp.gender">
				                <md-option value = "Female">Female</md-option>
				                <md-option value = "Male">Male</md-option>                              
				            </md-select>
				        </md-input-container>
				        <md-input-container flex="20">
				           <label>Date of birth:</label>
				           <input type = "date" ng-model="currEmp.dateOfBirth" />
				        </md-input-container>
				    </md-content>
				    </form>
				  </div>
              </md-content>
           </md-tab>
    
           <md-tab label="Contact info">
               <md-content class="md-padding" layout="row">
                 <div id="contact" class="form-group">
			        <form layout="row">
			            <md-content layout="row" layout-wrap>
			                <h3 flex="100">Contact information</h3>
			                <div flex="66">
			                    <md-input-container md-no-float="true"> 
			                        <label>Adress:</label>
			                        <input ng-readonly="role=='EMP'" type="text" ng-model="currEmp.address">
			                    </md-input-container>
			                    <md-input-container flex md-no-float="true">
			                        <label>Phone number:</label>
			                        <input ng-readonly="role=='EMP'" type="text" ng-model="currEmp.phoneNumber">
			                    </md-input-container>
			                    <md-input-container flex md-no-float="true">
			                        <label>Personal email:</label>
			                        <input ng-readonly="role=='EMP'" type="text" ng-model="currEmp.email">
			                    </md-input-container>
			                    <md-input-container flex md-no-float="true">
			                        <label>Emergency phone number:</label>
			                        <input ng-readonly="role=='EMP'" type="text" ng-model="currEmp.emergencyPhoneNumber">
			                    </md-input-container>
			                </div>
			            </md-content>
                 </form>
                </div>
               </md-content>
           </md-tab>    
             
       </md-tabs>   
    </md-dialog-content>
    <md-divider></md-divider>    
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-show="role=='OFF'" ng-click="update()" class="md-primary">Update</md-button>
        <md-button ng-click="exit()" class="md-primary">Exit</md-button>
    </div>
</form>
</md-dialog>