<md-content layout-padding layout="column" layout-sm="column">
		<md-input-container md-no-float="true"> <label>Communication:</label>
		<input type="number" ng-model="currentEmployee.communication" min="1" max="5">
		</md-input-container> <md-input-container md-no-float="true">
		<div>
		<div flex="10" layout layout-align="center center">
			<span class="md-body-1">Fast learning: </span>
				<md-slider flex class="md-primary" md-discrete="" ng-model="currentEmployee.fastLearning"  step="1" min="1" max="5" aria-label="rating">
	      		</md-slider>
	      </div>
	      </div>
		<!-- <input type="number" ng-model="currentEmployee.fastLearning" min="1" max="5"> -->
		<div flex="10" layout layout-align="center center">
			<span class="md-body-1">Open to change: </span>
				<md-slider flex class="md-primary" md-discrete="" ng-model="currentEmployee.openToChange"  step="1" min="1" max="5" aria-label="rating">
	      		</md-slider>
	      </div>
		</md-input-container> <md-input-container md-no-float="true"> <label>Open
			to change:</label>
			<div flex="10" layout layout-align="center center">
			<span class="md-body-1">Team player: </span>
				<md-slider flex class="md-primary" md-discrete="" ng-model="currentEmployee.teamPlayer"  step="1" min="1" max="5" aria-label="rating">
	      		</md-slider>
	      </div>
		 <input type="number" ng-model="currentEmployee.openToChange" min="1" max="5"> 
		</md-input-container> <md-input-container md-no-float="true"> <label>Team
			player:</label>
		<input type="number" ng-model="currentEmployee.teamPlayer" min="1" max="5">
		</md-input-container> <md-input-container md-no-float="true"> <label>Proactive
			communication:</label>
		<input type="number" ng-model="currentEmployee.proactiveCommunication" min="1"
			max="5"> </md-input-container> <md-input-container md-no-float="true">
		<label>Interpersonal skills:</label>
		<input type="number" ng-model="currentEmployee.interpersonalSkills" min="1"
			max="5"> </md-input-container> <md-input-container md-no-float="true">
		<label>Knowledge sharing:</label>
		<input type="number" ng-model="currentEmployee.knowledgeSharing" min="1"
			max="5"> </md-input-container> <md-input-container md-no-float="true">
		<label>Judgement:</label>
		<input type="number" ng-model="currentEmployee.judgement" min="1" max="5">
		</md-input-container> <md-input-container md-no-float="true"> <label>Decision
			making:</label>
		<input type="number" ng-model="currentEmployee.decisionMaking" min="1" max="5">
		</md-input-container> <md-input-container md-no-float="true"> <label>Influencing:</label>
		<input type="number" ng-model="currentEmployee.influencing" min="1" max="5">
		</md-input-container> <md-input-container md-no-float="true"> <label>Leadership:</label>
		<input type="number" ng-model="currentEmployee.leadership" min="1" max="5">
		</md-input-container> <md-input-container md-no-float="true"> <label>Coaching:</label>
		<input type="number" ng-model="currentEmployee.coaching" min="1" max="5">
		</md-input-container> <md-input-container md-no-float="true"> <label>Organizational
			skills:</label>
		<input type="number" ng-model="currentEmployee.organizationalSkills" min="1"
			max="5"> </md-input-container> </md-content>
