<!DOCTYPE html>
<html ng-app="app">
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="http://cdn.jsdelivr.net/angularjs/1.3.5/angular.min.js"></script>
<script
	src="http://cdn.jsdelivr.net/angularjs/1.3.5/angular-animate.min.js"></script>
<script
	src="http://cdn.jsdelivr.net/angularjs/1.3.5/angular-aria.min.js"></script>
<script
	src="http://cdn.jsdelivr.net/angularjs/1.3.5/angular-route.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.js"></script>
<script src="app/js/jquery.min.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers/startPageController.js"></script>
<script src="app/controllers/employeeController.js"></script>
<script src="app/controllers/projectController.js"></script>
<script src="app/services/startPageService.js"></script>
<script src="app/services/employeeService.js"></script>
<script src="app/services/projectService.js"></script>
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
</head>
<body>

	<div ng-controller="startPageController">
		
			
			<md-tabs md-dynamic-height="" md-border-bottom=""> <md-tab
				label="Employees"> <md-content class="md-padding">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th><h3>Ime i prezime</h3></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="emp in employees">
						<td ng-click="showEmployee($event, emp)">{{ emp.nameEmployee
							}}</td>
						<td><md-button class="md-primary md-raised"
								ng-click="deleteEmployee(emp)" flex flex-md="100">
							Obrisi </md-button></td>
					</tr>
				</tbody>
			</table>


			</md-content> </md-tab> <md-tab label="Projects"> <md-content class="md-padding">

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th><h3>Naziv projekta</h3></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="project in projects">
						<td>{{ project.nameProject }}</td>
						<td><md-button class="md-primary md-raised"
								ng-click="showProject($event, project)" flex flex-md="100">
							Vise imformacija </md-button></td>
					</tr>
				</tbody>
			</table>
			</md-content> </md-tab> </md-tabs>


		</div>


</body>
</html>

<!-- 
<script src="http://code.angularjs.org/1.0.8/angular.js"></script>
<script src="app/js/angular.js"></script>
 -->